{% extends "rasmApp/layout.html" %}
{% block content %}

<div class="container1">
    <h1>Add Road Segment Detail</h1>
    <form action="{% url 'add_rs_detail' %}" method="post">
        {% csrf_token %}
        <label for="">Road Segment</label><br><br>
        <input type="text" name="roadseg"><br><br>
        <label for="">Inspector</label><br><br>
        <input type="text" name="inspector"><br><br>
        <label for="">Length From</label><br><br>
        <input type="text" name="from"><br><br>
        <label for="">To</label><br><br>
        <input type="text" name="to"><br><br>
        <button type="submit" id="new">Submit</button>
    </form>
</div>
{% endblock %}