{% extends "rasmApp/sidebarlayout.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <h3 style="background-color: #F67007; color: black; text-align:center;">ሻሸመኔ ቅ/ጽ/ቤት | Shashamane District</h3>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a href = "{% url 'shashamanel' %}?d=ሻሸመኔ" class="btn btn-primary" style="width:200px" tabindex="-1" role="button">የ2017 ዓ.ም ፕሮጀክቶች ዝርዝር </a><br/><br/>
            <a href = "{% url 'bapshashamane' %}?d=ሻሸመኔ" class="btn btn-primary" style="width:200px" tabindex="-1" role="button">የድርጊት መርሐግብር ዝርዝር</a><br/><br/>
            <a href = "{% url 'shashamaneaccompreg' %}" class="btn btn-primary" style="width:200px" tabindex="-1" role="button">ክንውን</a><br/><br/>
        </div>
        <div class="col-md-10">
            <img src="{% static '/images/shashamane.j[g]' %}" alt="Federal Road Network Mapping" style="display: block; margin-left: auto; margin-right: auto; width: 60%;">
        </div>
    </div>
</div>
{% endblock %}

