{% extends "rasmApp/sidebarlayout.html" %}
{% block content %}
{% load static %}
{% load humanize %}
{% load calc %}


<style>
    .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 20px;
      font-family: Arial, sans-serif;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      background-color: #f9f9f9;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    th, td {
      padding: 18px !important;
      vertical-align: middle;
      border: none; /* Removed borders */
    }
  
    th {
      background-color: #F0F0F0;
      color: #333;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    td {
      background-color: #FFF;
      color: #333;
    }
  
    tr:nth-child(even) td {
      background-color: #F7F7F7; /* Alternating row background */
    }
  
    tr:hover td {
      background-color: #eaeaea; /* Hover effect */
    }
  
    /* Responsive adjustments */
    @media (max-width: 768px) {
      th, td {
        padding: 8px;
        font-size: 14px;
      }
    }
  </style>
<br>
<div class="container">
<table class="table">
    <thead class="table-light">
        <tr><th colspan="21" style="text-align: center; vertical-align:middle">የመንገድ ጥገና ስራ የሰባት ወራት ዕቅድ ክንውን ማነጻጸሪያ </th></tr>
        <tr>
            <th rowspan="2" style="text-align: center; vertical-align:middle">የመንገድ ጥገና ዓይነት</th>
            <th colspan="9" style="text-align: center; vertical-align:middle">ፋይናንሺያል</th>
            <th colspan="9" style="text-align: center; vertical-align:middle">ፊዚካል</th>
        </tr>
        <tr>
        <th>የ6 ወራት ዕቅድ  (ብር)</th>
        <th>የ6 ወራት ክንውን  (ብር)</th>
        <th>የ6 ወራት ንጽጽር (%)</th>
        <th>የጥር ወር ዕቅድ  (ብር)</th>
        <th>የጥር ወር ክንውን  (ብር)</th>
        <th>የወሩ ንጽጽር (%)</th>
        <th>የ7 ወራት ዕቅድ</th>
        <th>የ7 ወራት ክንውን</th>
        <th>የ7 ወራት ንጽጽር (%)</th>
        <th>የ6 ወራት ዕቅድ  (ኪ.ሜ)</th>
        <th>የ6 ወራት ክንውን  (ኪ.ሜ)</th>
        <th>የ6 ወራት ንጽጽር (%)</th>
        <th>የጥር ወር ዕቅድ  (ኪ.ሜ)</th>
        <th>የጥር ወር ክንውን  (ኪ.ሜ)</th>
        <th>የወሩ ንጽጽር (%)</th>
        <th>የ7 ወራት ዕቅድ</th>
        <th>የ7 ወራት ክንውን</th>
        <th>የ7 ወራት ንጽጽር (%)</th>
        </tr>
    </thead>
    {% for item, item2 in interventionsevenmzip %}
    <tr>
        <td>{{item2.erabudget__bworktype__maintenancetype}}</td>
        {% with prevap=item2.aptotalbr|subtract:item.aptotalpmonthbr %}
        <td>{{ prevap|floatformat:2|intcomma }}</td>
        {% endwith %}
        {% with prevacomp=item2.acomptotalbr|subtract:item.acomptotalpmonthbr %}
        <td>{{ prevacomp|floatformat:2|intcomma }}</td>
        {% endwith %}
        {% with prevacomp=item2.acomptotalbr|subtract:item.acomptotalpmonthbr prevap=item2.aptotalbr|subtract:item.aptotalpmonthbr %}
        <td>{{ prevacomp|divide:prevap |floatformat:2|intcomma}}</td>
        {% endwith %}
        <td>{{item.aptotalpmonthbr|floatformat:2|intcomma}}</td>
        <td>{{item.acomptotalpmonthbr|floatformat:2|intcomma}}</td>
        <td>{{item.fincomppmonth|floatformat:2|intcomma }}</td>
        <td>{{item2.aptotalbr|floatformat:2|intcomma }}</td>
        <td>{{item2.acomptotalbr|floatformat:2|intcomma }}</td>
        <td>{{item2.fincomp|floatformat:2|intcomma }}</td>
        {% with prevapkm=item2.aptotalkm|subtract:item.aptotalpmonthkm %}
        <td>{{ prevapkm|floatformat:2|intcomma }}</td>
        {% endwith %}
        {% with prevacompkm=item2.acomptotalkm|subtract:item.acomptotalpmonthkm %}
        <td>{{ prevacompkm|floatformat:2|intcomma }}</td>
        {% endwith %}
        {% with prevacompkm=item2.acomptotalkm|subtract:item.acomptotalpmonthkm prevapkm=item2.aptotalkm|subtract:item.aptotalpmonthkm %}
        <td>{{ prevacompkm|divide:prevapkm |floatformat:2|intcomma}}</td>
        {% endwith %}
        <td>{{item.aptotalpmonthkm|floatformat:2|intcomma }}</td>
        <td>{{item.acomptotalpmonthkm|floatformat:2|intcomma }}</td>
        <td>{{item.phycomppmonth|floatformat:2|intcomma }}</td>
        <td>{{item2.aptotalkm|floatformat:2|intcomma }}</td>
        <td>{{item2.acomptotalkm|floatformat:2|intcomma }}</td>
        <td>{{item2.phycomp|floatformat:2|intcomma }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td style="background: #f2f2f9 ;">ጠቅላላ ድምር</td>
        {% with prevap=intervenaptbrsum|subtract:intervenaptpmbrsum %}
        <td style="background: #f2f2f9;">{{ prevap|floatformat:2|intcomma }}</td>
        {% endwith %}
        {% with prevacomp=intervenacomptbrsum|subtract:intervenacomptpmbrsum %}
        <td style="background: #f2f2f9;">{{ prevacomp|floatformat:2|intcomma }}</td>
        {% endwith %}
        {% with prevacomp=intervenacomptbrsum|subtract:intervenacomptpmbrsum prevap=intervenaptbrsum|subtract:intervenaptpmbrsum %}
        <td style="background: #f2f2f9;">{{ prevacomp|divide:prevap |floatformat:2|intcomma}}</td>
        {% endwith %}
        <td style="background: #f2f2f9;">{{intervenaptpmbrsum|floatformat:2|intcomma }}</td>
        <td style="background: #f2f2f9;">{{intervenacomptpmbrsum|floatformat:2|intcomma }}</td>
        <td style="background: #f2f2f9;">{{ intervenacomptpmbrsum|divide:intervenaptpmbrsum |floatformat:2|intcomma}}</td>
        
        <td style="background: #f2f2f9;">{{intervenaptbrsum|floatformat:2|intcomma }}</td>
        <td style="background: #f2f2f9;">{{intervenacomptbrsum|floatformat:2|intcomma }}</td>
        <td style="background: #f2f2f9;">{{ intervenacomptbrsum|divide:intervenaptbrsum |floatformat:2|intcomma}}</td>
        
        {% with prevap=intervenaptkmsum|subtract:intervenaptpmkmsum %}
        <td style="background: #f2f2f9;">{{ prevap|floatformat:2|intcomma }}</td>
        {% endwith %}
        {% with prevacomp=intervenacomptkmsum|subtract:intervenacomptpmkmsum %}
        <td style="background: #f2f2f9;">{{ prevacomp|floatformat:2|intcomma }}</td>
        {% endwith %}
        {% with prevacomp=intervenacomptkmsum|subtract:intervenacomptpmkmsum prevap=intervenaptkmsum|subtract:intervenaptpmkmsum %}
        <td style="background: #f2f2f9;">{{ prevacomp|divide:prevap |floatformat:2|intcomma}}</td>
        {% endwith %}
        
        <td style="background: #f2f2f9;">{{intervenaptpmkmsum|floatformat:2|intcomma }}</td>
        <td style="background: #f2f2f9;">{{intervenacomptpmkmsum|floatformat:2|intcomma }}</td>
        <td style="background: #f2f2f9;">{{ intervenacomptpmkmsum|divide:intervenaptpmkmsum |floatformat:2|intcomma}}</td>
        
        <td style="background: #f2f2f9;">{{intervenaptkmsum|floatformat:2|intcomma }}</td>
        <td style="background: #f2f2f9;">{{intervenacomptkmsum|floatformat:2|intcomma }}</td>
        <td style="background: #f2f2f9;">{{ intervenacomptkmsum|divide:intervenaptkmsum |floatformat:2|intcomma}}</td>
    </tr>
</table>
</div>
{% endblock %}
