{% extends "rasmApp/layout.html" %}
{% block content %}
{% load static %}
{% load humanize %}

<style>
    table {
        width: 80%;
        border: 1px solid black;
    }
    table tr, td, th {
        border: 1px solid black;
    }
</style>
<br>
<hr>

<div class="row">
    <ul>
    {% for b in erabudgetap %}
        {{b.bworktype}}
        <ul>
        <div class="row">
        {% for budgetedap in b.budgetedap_set.all%}
                <div class="col">
                    <div class="row">
            {{budgetedap.bapmonth}}
                </div>
                <div class="row">
            {{budgetedap.bapinBr|floatformat:2|intcomma}}&emsp;
           </div>
           <div class="row">
            {{budgetedap.accomplishment.actionInBr|floatformat:2|intcomma}}
                </div>
                <div class="row">
            {{budgetedap.bapinKm|floatformat:2}}&emsp;
            </div>
            <div class="row">
            {{budgetedap.accomplishment.actionInKm|floatformat:2}}
                </div>
                </div>
        {% endfor %}
        {% for acomp in b.accomplishment_set.all%}
                <div class="col">
                    <div class="row">
            {{acomp.bapmonth}}
                </div>
                <div class="row">
            {{acomp.actionInBr|floatformat:2|intcomma}}
                </div>
                <div class="row">
            {{acomp.actionInKm|floatformat:2}}
                </div>
                </div>
        {% endfor %}
        </div>
        </ul>
    {% endfor %}
    </ul>
</div>
    

<!--

<div class="container">
    {{ap}}
  </div>
<hr><hr><hr>

<div class="container">
  <div class="container">
    <table class="table table-sm">
        <thead class="table-light">
        <th>የፕሮጀክቱ ስም</th>
        <th>የሐምሌ ዕቅድ</th>
        <th>የሐምሌ ክንውን</th>
        <th>የሐምሌ ንጽጽር</th>
        <th>የነሃሴ ዕቅድ</th>
        <th>የነሃሴ ክንውን</th>
        <th>የነሃሴ ንጽጽር</th>
        <th>የሁለት ወር ዕቅድ</th>
        <th>የሁለት ወር ክንውን</th>
        <th>የሁለት ወር  ንጽጽር</th>
        <th>የመስከረም ዕቅድ</th>
        <th>የመስከረም ክንውን</th>
        <th>የሦስት ወር ዕቅድ</th>
        <th>የሦስት ወር ክንውን</th>
        <th>የሦስት ወር  ንጽጽር</th>
        <th>የጥቅምት ዕቅድ</th>
        <th>የጥቅምት ክንውን</th>
        <th>የአራት ወር ዕቅድ</th>
        <th>የአራት ወር ክንውን</th>
        <th>የአራት ወር  ንጽጽር</th>
        <th>የህዳር ዕቅድ</th>
        <th>የህዳር ክንውን</th>
        <th>የአምስት ወር ዕቅድ</th>
        <th>የአምስት ወር ክንውን</th>
        <th>የአምስት ወር  ንጽጽር</th>
        <th></th>
        </thead>
        {% for item, item2 in zppm %}
        <tr>
            <td>{{ item.erabudget}}</td>
            <td>{{ item.bapinKm|floatformat:2|intcomma}}</td>
            <td>{{ item.accomplishment.actionInKm|floatformat:2|intcomma}}</td>
            <td>{{ item.comp|floatformat:2}}</td>
            <td>{{ item2.bapinKm|floatformat:2|intcomma}}</td>
            <td>{{ item2.accomplishment.actionInKm|floatformat:2|intcomma}}</td>
            <td>{{ item2.comp|floatformat:2}}</td>
            <td>{{ item.bapinKm|add:item2.bapinKm}}</td>
            <td>{{ item.accomplishment.actionInKm|add:item2.accomplishment.actionInKm}}</td>
            <td>{% widthratio item.accomplishment.actionInKm|add:item2.accomplishment.actionInKm item.bapinKm|add:item2.bapinKm 100 %}</td>
            <td>{{ item.comp|add:item2.comp }}</td>
            <td>{{ item.bapinKm}}</td>
            <td>{{ item.accomplishment.actionInKm}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
-->

{% endblock %}