
<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-actionplan">
                <div class="card-header">
                    <h5 class="card-title">Projects:</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_budgetext}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="actionplan-delivered">
                <div class="card-header">
                    <h5 class="card-title">Action Plans:</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_actionplans}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="actionplans-pending">
                <div class="card-header">
                    <h5 class="card-title">የፕሮጀክት ብዛት:</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_abcount}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
